* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  width: 100vw;
  background-color: #111;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  width: min(90%, 640px);
  aspect-ratio: 1;
  border: 1px solid #0AF;
  transform: translate(-50%, -50%);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.assets {
  display: none;
}

.debug-container {
  display: inline-flex;
  column-gap: 8px;
  padding: 4px;
  color: #EEE;
  cursor: pointer;
}
